@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.product-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.buttonbg {
  background-color: #b4530933;
}

.lg-container__custom {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, minmax(200px, 1fr));

  grid-gap: 0.5rem;
}
.lg-container__card-image {
  background: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  ) !important;
  background-size: 200% 100% !important;
  animation: shine 1.5s linear infinite;
  width: 100%;
  height: 220px;
  object-fit: cover !important;
  border-radius: 10px !important;
  object-position: center !important;
}
.gallery-item:first-child .lg-container__card-image {
  height: 450px;
}
.gallery-item {
  grid-row: span 1;
}
.blg ul, .blg menu {
  /* list-style: none; */
  /* margin: 0; */
  /* padding: 0; */
  list-style: disc;
  margin-left: 50px;
}
.blg ol{
  list-style: decimal;
  margin-left: 50px;
}
.blg p{
  margin-bottom: 40px;
}

.blg h1, .blg h2, .blg h3, .blg h4, .blg h5, .blg h6{
  margin-top: 40px;
}
.blg a{
  color: #b45309 !important;
}

